main {
    margin: 80px 24px;
}
h1 {
    font-size: 30px;
    font-weight: 100;
}
main img {
    height: 128px;
}
h2 {
    margin: 10px 0px 10px 0px;
}
.box {
    display: grid;
    grid-template-rows: 50px 80px 80px 80px 80px ;
    grid-template-columns: 3fr 1fr 1fr;
}
.boxitem1 {
    grid-column: 1/5;
    grid-row: 1/2;
}
.boxitem2 {
    grid-column: 1/4;
    grid-row: 2/3;
}
.boxitem3 {
    grid-column: 1/4;
    grid-row: 3/4;
}
.boxitem4 {
    grid-column: 1/5;
    grid-row: 4/5;
}
.boxitem5 {
    grid-column: 1/5;
    grid-row: 5/6;
}
.boxitem6 {
    grid-column-end: 5;
    grid-row:2/4 ;
}
.box1 {
    display: grid;
    grid-template-rows: 50px 80px 80px 80px 80px ;
    grid-template-columns: 1fr 1fr 3fr;
}
.boxitem7 {
    grid-column: 1/4;
    grid-row: 1/2 ;
}
.boxitem8 {
    grid-column: 2/4;
    grid-row: 2/3 ;
    margin-left: 16px;
}
.boxitem9 {
    grid-column: 2/4;
    grid-row: 3/4 ;
    margin-left: 16px;
}
.boxitem10 {
    grid-column: 1/4;
    grid-row: 4/5 ;
}
.boxitem11 {
    grid-column: 1/4;
    grid-row: 5/6 ;
}
.boxitem12 {
    grid-column: 1/2;
    grid-row: 2/4 ;
    margin:16px 0px 16px 0px ;
}
