html {
    background-color: #0080ff;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
}
* {
    color: white;
}

body {
    background-color: #1034a6;
    width: 960px;
    box-shadow: 0 0 12px -2px black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
a {
    text-decoration: none;
}
.current{
    text-decoration: underline;
}
nav{
    font-size: 24px;
    font-family: sans-serif;
    vertical-align: middle;
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 1;
    left: 0px;
    right: 0px;
    top: 0px;
    box-shadow: 0 0 12px -2px black;
}
nav, nav * {
    background-color:rgb(51, 51, 51);
}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.link{
    margin-right: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
nav li {
    margin-left: 30px;
}

#staffName{
    margin-left: -24px;
    font-weight: bold;
}
footer, footer * {
    background-color:rgb(51, 51, 51);
}
footer{
    font-size: 24px;
    vertical-align: middle;
    height: 80px;
    width: 100%;
    box-shadow: 0 0 12px -2px black;
    position: fixed;
    z-index: 1;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer a {
    margin-right: 25px;
    margin-left: 25px;
    border: black;
}
a img{
    border-radius: 50%;
    object-fit: cover;
}

